@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --text-color: #19c7c7;
  --card-front-color: #144480;
  --card-back-color: #3d76bb;
}

body {
  background: url(img/bg-desktop-blue.webp);
  font-family: Grandstander;
}
.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
  }
#container {
  display: flex;
  flex-wrap: wrap;
}